*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

table {
  border: 1px solid rgb(243, 101, 217);

  width: 50%;
}
td,
th {
  text-align: left;
  padding: 5px;
}
tr:nth-child(even) {
  background-color: rgb(222, 117, 205);
}

.a {
  text-align: center;
  background-color: red;
}
.b {
  text-align: left;
  color: orange;
}
.c {
  background-color: rgb(243, 212, 237);
}
.d {
  color: blue;
  margin-top: 10px;
}
.background {
  background-color: aqua;
}
.textdis {
  margin-left: 60px;
}
.formxv {
  width: 400px;
  margin: 20px auto;
}
.labelxv {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  margin: 10px 0px 10px 0px;
}
.stylexv {
  background-color: antiquewhite;
}

.project-top {
  margin-top: 96px;
  margin-bottom: 65px;
  justify-content: center;
  gap: 50px;
  display: flex;
}
.text-Project {
  margin-bottom: 99px;
  text-align: center;
  color: rgba(167, 167, 167, 1);
  font-size: 32px;
}

.Projects-item {
  padding-top: 0px;
  display: flex;
  background-color: rgba(54, 54, 54, 1);
  width: 375px;
  height: 567px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-around;
}

.img-item {
  margin-top: -17px;
}

.title-item {
  padding-left: 28px;
  color: rgba(204, 204, 204, 1);
  font-weight: 500;
  font-size: 28px;
}

.text-item1 {
  padding-left: 28px;
  font-size: 18px;
  color: rgba(204, 204, 204, 1);
}

.text-item2 {
  padding-left: 28px;
  color: rgba(204, 204, 204, 1);
  font-size: 14px;
}

.link-github {
  gap: 48px;
  justify-content: flex-start;
  padding-left: 28px;
  display: flex;
  color: rgba(255, 255, 255, 1);
}

.project-bottom {
  margin-bottom: 200px;
  justify-content: center;
  gap: 50px;
  display: flex;
}
