.so {
  padding: 0px 43px 0px 43px;
  margin-left: 2px;
  background-color: rgb(188, 188, 250);
  color: white;
}
.chu {
  margin: 95px;
  color: white;
}
.p {
  text-align: center;
}
.mau {
  background-color: black;
  color: white;
}
